# Temel Görüntü İşleme ve Yapay Zeka
ultralytics==8.3.217
opencv-python==4.11.0.86
numpy==2.2.6

# Model Eğitimi ve Yardımcı Araçlar
torch==2.9.0
torchvision==0.24.0
pillow==11.3.0

# Kullanıcı Arayüzü ve Sistem
pypiwin32==223


